body {
    width: 90%;
    margin: auto;
    font-family: "Roboto", sans-serif;
    background-color: #f1f1f1;
}

header nav {
    display: flex;
}

header nav ul {
    list-style: none;
    padding-top: 10px;
}

header nav ul:first-child {
    padding-left: 0px;

}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

main .trending {
    display: flex;
    justify-content: space-between;
}

main .box .image {
    position: relative;
}

main .box .image p {
    position: absolute;
    top: 10px;
    left: 30px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

main .box .info {
    width: 362px;
    height: 186px;
    background-color: white;
}

main .box .info .insideContent {
    padding-top: 20%;
    width: 85%;
    margin: auto;
    font-size: 10px;
    color: #8A8787;
}

main .box .info p {
    margin: 0px;
}

main .box .info .time {
    margin-top: 30px;
}

.happeningNow {
    display: flex;
}

footer {
    background-color: #243043;

}

footer .insideFooter {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


footer .links section a {
    color: #818687;
    font-weight: 700;
    text-decoration: none;
}

footer .slogan {
    color: white;
}