body {
    width: 90%;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

header nav {
    display: flex;
}

header nav ul {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}